<html>
  <head>
    <meta charset = "utf-8">
    <meta name = "viewport" content="width=device-width, initial-scale=1">

    <title>LinkdForLife</title>
    <link href='https://fonts.googleapis.com/css?family=Roboto:500,300' rel='stylesheet' type='text/css'/>
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/links4life.css') }}"/>
    <link type="text/css" rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link href="https://gitcdn.github.io/bootstrap-toggle/2.2.0/css/bootstrap-toggle.min.css" rel="stylesheet">
    <script src="{{ url_for('static', filename='js/libraries/jquery-min.js') }}"></script>
    <script src="https://gitcdn.github.io/bootstrap-toggle/2.2.0/js/bootstrap-toggle.min.js"></script>
  </head>
  <body>
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="/">
            <img alt="LinkdForLife" style="height: 85px; width: 90px; margin-top: -30px;" src="{{ url_for('static', filename='images/logo.png') }}" />
          </a>
        </div>
      </div>
    </nav>
    <div class="container-fluid whole-container">
      <div>
        <img alt="LinkdForLife" class="logo" src="{{ url_for('static', filename='images/banner.png') }}" />
      </div>
      <div class="row">
      <h3 style="text-align: center">REGISTER</h3>
      <div class="col-md-5"></div>
      <div class="col-md-2">
        <div class="row">
          <div class="col-md-12">
          <div class="form-group">
            <label for="first_name">First name</label>
            <input type="name" class="form-control" id="first_name"/>
          </div>

          <!-- last name field -->
          <div class="form-group">
            <label for="last_name">Last name</label>
            <input type="name" class="form-control" id="last_name">
          </div>

          <!-- email field -->
          <div class="form-group">
            <label for="email">Email</label>
            <input type="email" class="form-control" id="email" placeholder="Enter email id">
          </div>

          <div>
            <label>You are a.. </label>
            <input class="type" type="checkbox" checked data-toggle="toggle" data-on="Donor" data-off="Recepient"/>
          </div>

          <!-- email field -->
          <div class="form-group">
            <label for="age">Age</label>
            <input type="number" min="18" max="65" class="form-control" id="age" placeholder="Enter age">
          </div>

          <!-- zip code field -->
          <div class="form-group">
            <label for="zipcode">Zip Code</label>
            <input type="zip-code" class="form-control" id="zipcode" placeholder="Enter U.S. zip code">
          </div>

 
          <!-- blood type field (drop down) -->
          <div class="form-group">
            <label for="blood">Blood Type </label>
            <select name="blood-type" class="btn btn-default">
              <option value = "O-">O-</option>
              <option value = "O+">O+</option>
              <option value = "A-">A-</option>
              <option value = "A+">A+</option>
              <option value = "B-">B-</option>
              <option value = "B+">B+</option>
              <option value = "AB-">AB-</option>
              <option value = "AB+">AB+</option>
            </select>
          </div>

          <!-- distance willing to travel field -->
          <div class="checkbox">
           <input type="checkbox" name="travel"/><label>Willing to travel</label>
          </div>

          <!-- healthy enough checkbox -->
          <div class="checkbox">
            <input type="checkbox" name="health"/><label> I am deemed healthy enough to give a donation.</label>
          </div>

          <!-- Terms and conditions checkbox -->
          <div class="checkbox">
            <input type="checkbox" name="tos"/><label> I agree to the Terms and Conditions.</label>
          </div>

          <!-- submit -->
          <div style="text-align: center">
            <button type="button" class="btn btn-primary submit-form">Submit</button>
          </div>


      </div>
      </div>
      </div>
      <div class="col-md-5"></div>
  </div>
  <script type="text/javascript" src="{{ url_for('static', filename='js/login/index.js') }}"></script>
</body>
</html>


