<html>
	<head>
		<meta charset = "utf-8">
		<meta name = "viewport" content="width=device-width, initial-scale=1">

		<title>LinkdForLife</title>
		<link href='https://fonts.googleapis.com/css?family=Roboto:500,300' rel='stylesheet' type='text/css'/>
		<link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/links4life.css') }}"/>
		<link type="text/css" rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
		<script src="{{ url_for('static', filename='js/libraries/jquery-min.js') }}"></script>
	</head>
	<body>
		<nav class="navbar navbar-default navbar-fixed-top">
			<div class="container-fluid">
				<div class="navbar-header">
					<a class="navbar-brand" href="/">
						<img alt="LinkdForLife" style="height: 85px; width: 90px; margin-top: -30px;" src="{{ url_for('static', filename='images/logo.png') }}" />
					</a>
				</div>
			</div>
		</nav>
		<div class="container-fluid whole-container">
			<div>
				<img alt="LinkdForLife" class="logo" src="{{ url_for('static', filename='images/banner.png') }}" />
			</div>
			<div class="row">
				<div class="col-md-12" style="text-align: center;">
					<h2>Let's Match</h2><br/>
					<input type="email" name="email" placeholder="Type your email id..." />
					<br/><br/>
					<div>
						<a class="btn btn-primary register" href="/register">Register</a>
						<button class="btn btn-primary login">Login</button>
					</div>
				</div>
			</div>
			<br/>
			<div class="row">
				<div class="col-md-12" style="text-align: center">
					<h1>You're in the driver's seat</h1>
					<h2>Find your perfect match</h2>
					<ul class="list-group" style="font-size: 20px;">
					  <li class="list-group-item list-group-item-success">Free kidney matching service</li>
					  <li class="list-group-item list-group-item-info">Donor or recipient initiates search</li>
					  <li class="list-group-item list-group-item-warning">Create or link into your own donor chain</li>
					</ul>
				</div>
			</div>
		</div>
	<script type="text/javascript" src="{{ url_for('static', filename='js/login/index.js') }}"></script>
	</body>
</html>