{% extends "base.html" %}
{% block content %}
	<div class="row">
		<div class="col-md-12">
			<form method="POST" action="/saveuser">
				<div>{{ form.first_name.label }}: {{ form.first_name() }}</div>
				<div>{{ form.last_name.label }}: {{ form.last_name() }}</div>
				<div>{{ form.email.label }}: {{ form.email() }}</div>
				<div>{{ form.age.label }}: {{ form.age() }}</div>
				<div>{{ form.zipcode.label }}: {{ form.zipcode() }}</div>
				<div>{{ form.user_type.label }}: {{ form.user_type() }}</div>
				<div>{{ form.blood_type.label }}: {{ form.blood_type() }}</div>
				<input type="submit" value="Register" />
			</form>
		</div>
	</div>
{% endblock %}