/* CSS style sheet for Linked for Life */
.whole-container {
  margin-top: 80px;
}

/* Overrides */
.navbar .navbar-brand, .nav.navbar-nav.navbar-right {
  font-size: 24px;
  color: #000;
}

body {
    font-family: 'Roboto', sans-serif;
}


.label {
	font-size : x-large;
	display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: 700;
}

/* input field for forms */
.form-control {
	cursor: text;
	display: inline;
	text-align: left;
    width: 15%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}	

.checkbox {
    margin-left: 10%;
}

.logo {
    height: 350px;
}
