<html>
  <head>
    <meta charset = "utf-8">
    <meta name = "viewport" content="width=device-width, initial-scale=1">

    <title>LinkdForLife</title>
    <link href='https://fonts.googleapis.com/css?family=Roboto:500,300' rel='stylesheet' type='text/css'/>
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/links4life.css') }}"/>
    <link type="text/css" rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <script src="{{ url_for('static', filename='js/libraries/jquery-min.js') }}"></script>
  </head>
  <body>
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="/">
            <img alt="LinkdForLife" style="height: 85px; width: 90px; margin-top: -30px;" src="{{ url_for('static', filename='images/logo.png') }}" />
          </a>
        </div>
      </div>
    </nav>
    <div class="container-fluid whole-container">
      <div class="row">
        <div class="col-md-2">
          <div class="row">
            <div class="col-sm-6 col-md-4">
              <div class="thumbnail">
                Picture
                <div class="caption">
                  <span>Welcome Sesha</span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <h2 id="overview" class="page-header">Welcome to Linkd For Life</h2>

        
      </div>
  </div>
  <script type="text/javascript" src="{{ url_for('static', filename='js/login/index.js') }}"></script>
</body>
</html>


