<html>
	<head>
		<meta charset = "utf-8">
		<meta name = "viewport" content="width=device-width, initial-scale=1">

		<title>LinkdForLife</title>
		<link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap-min.css') }}">
		<link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/links4life.css') }}"/>
		<link href='https://fonts.googleapis.com/css?family=Roboto:500,300' rel='stylesheet' type='text/css'/>
		<script src="{{ url_for('static', filename='js/libraries/jquery-min.js') }}"></script>
	</head>
	<body>
		<nav class="navbar navbar-default navbar-fixed-top">
			<div class="container-fluid">
				<div class="navbar-header">
					<a class="navbar-brand" href="/">
						<img alt="LinkdForLife" style="height: 85px; width: 90px; margin-top: -30px;" src="{{ url_for('static', filename='images/logo.png') }}" />
					</a>
				</div>
			</div>
		</nav>
		<div class="container-fluid whole-container">
		{% block content %}{% endblock %}
		</div>
	</body>
</html>